html {
    min-height: 100%;
}

@font-face {
    font-family: 'tulusrifont';
    src: url("../assets/fonts/tulu_sri_2020_06.ttf") format('truetype');
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}

textarea {
    border-color: -moz-use-text-color #FFFFFF #FFFFFF #FFFFFF;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(167, 162, 162);
    box-shadow: -4px 0px 6px 1px rgba(0, 0, 0, 0.12);
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

.container {
    width: 90%;
}

.tuluTxtContainer {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

.tuluTxtContainer::after {
    content: "";
    display: table;
    clear: both;
}

.tuluTxt {
    font-family: tulusrifont;
    word-break: break-word;
    white-space: pre-wrap;
    height: 300px;
    background-image: url('');
    background-size: cover;
    background-position: center;
    font-size: 15px;
    font-weight: normal;
    padding: 2px;
}

.originalTxt {
    height: 200px;
}

.watermark {
    opacity: 0.5;
    color: whitesmoke;
    bottom: 0;
    right: 0;
    padding: 2px;
    text-shadow: 1px 1px 1px black;
}

.download, .settings {
    margin: 2px;
}